* {
    margin: 0px;
    font-weight: 100;
    box-sizing: border-box;
}

body {
    font-family: calibri, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.user {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #909090;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    float: left;
    width: 200px;
}

.profile {
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    margin-left: 20px;
    padding: 30px 0px;
    padding-left: 200px;
    font-weight: bold;
    width: 750px;  
    color: white;
}

.profile .name {
    font-weight: 600;
    font-size: 40px;
}

.profile .description {
    font-size: 25px;
}

.header-profile {
    margin-left: 40px;
    position: absolute;
    top: 220px;
}

.one {
    background-image: url('https://avatars2.githubusercontent.com/u/26689234?s=460&v=4');
}

/********************************STYLES********************************/

.textDesign1 {
    font-family: serif;
    font-weight: 500;
    font-size: 1.1em;

}

.textDesign2 {
    color: darkgreen;
    font-weight: 500;
    font-size: 1.1em;
}

.textDesign3 {
    font-size: .95em;
    opacity: 0.8;
    filter: Alpha(opacity=80);
}


/********************************NAVIGATIONS/********************************/

nav {
    height: 50px;
    background-color: gray;
    background: linear-gradient(gray, #909090, gray);
    width: 100%;
    position: fixed;
    box-shadow: 0px 1px 10px 0px black;
    z-index: 10;

}

nav a {
    text-decoration: none;
    margin-right: 20px;
    color: white;
    float: right;
    margin-top: 10px;
    padding: 5px 10px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
}

nav a:hover {
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.active {
    border-color: white;
    border-style: solid;
    border-width: 1px;
}


/****************************HEADER*******************************/

header {

    color: white;
    padding-top: 150px;
    height: 420px;
    text-align: center;
    background-image: url("../resources/header-blur.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;

}

header h1 {
    background-color: rgba(0, 0, 0, .2);
    font-family: serif;
    letter-spacing: 5px;
    display: inline;
    font-size: 4em;
    padding: 50px 50px;
    padding-top: 10px;
}

header i {
    display: inline;
    font-size: 2em;
}


/***************************SECTIONS****************************************/

section {
    max-width: 1500px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

section h2 {
    font-size: 2em;
    text-align: center;

}

section p {
    font-size: 1.5em;

}

#featureImg {
    display: block;
    width: auto;
    height: auto;
    max-width: 75%;
    max-height: 90%;
    margin: 20px auto;
}

#aboutMe {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #F0F0F0;
}

#skills {

    font-size: 3em;
}

#skills .textDesign2 {
    font-weight: 100;
}

.article {
    max-width: 1250px;
    margin: 0 auto;
}

/***********************************FOOTER***************************************/

footer {
    background: linear-gradient(gray, #909090, gray);
    height: 200px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

footer hr {

    margin: 10px;
}

footer a:hover {
    text-decoration: underline;
}

.footerContact {
    width: 50%;
    padding-top: 20px;
    margin: 10px auto;
    font-size: 1.5em;
}

.aFooter {
    font-size: 1.2em;
    margin-left: 20px;
}


/************Project Page***********/
.projectContent {
    margin: 0px 50px;
    visibility: hidden;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;

    -webkit-transition: max-height .5s, opacity .5s;
    -moz-transition: max-height .5s, opacity .5s;
    -ms-transition: max-height .5s, opacity .5s;
    -o-transition: max-height .5s, opacity .5s;
    transition: max-height .5s, opacity .5s;
    -webkit-transition-timing-function: ease;
}

.projectContent p {
    text-align: justify;
}

.projectTitle {
    clear: both;
    padding: 20px;

}

.projectTitle h2 {
    text-align: left;
}

.projectTitle:hover {
    background-color: #F0F0F0;
    cursor: pointer;
}

.projectTitle button {
    margin-right: 20px;
    font-size: 1em;
}

.projectList {}

.developerProfile {
    position: relative;
    vertical-align: top;
    margin: 0px 10px;
    padding: 10px;
    width: 350px;
    display: inline-block;

}

.developerProfile a {
    text-decoration: none;
    margin-top: 10px;
    display: block;
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 1.2em;
}

.developerProfile a:hover {
    color: white;
    background-color: gray;

    cursor: pointer;
}

.developerProfile img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0px auto;
}

.developerProfile hr {
    margin: 10px 0px;
}

.developerProfileParent {
    text-align: center;
    display: block;
    margin: auto;
    width: 90%;
}

.developerScreenshot {
    text-align: center;
    display: block;
    margin: auto;
    width: 100%;
}

.developerScreenshot .imgSc {
    vertical-align: top;
    margin: 10px;
    max-width: 47%;
    display: inline-block;
    text-align: center;
}

.developerProfileParent .textDesign2 {
    text-align: left;
}
